---
import { Image } from 'astro:assets';
import { Baby, BathIcon, BedDouble, BusFront, CalendarCheck, ChevronRight, Coffee, Luggage, ParkingCircle, PawPrint, Plane } from 'lucide-react';
import { GoogleMap } from '../components/GoogleMap.tsx';
import { ImageGallery } from '../components/ImageGallery.tsx';
import Layout from '../layouts/Layout.astro';
import * as m from '../paraglide/messages.js';
import { setLanguageTag } from '../paraglide/runtime';
import { languageTag } from '../paraglide/runtime.js';
import { languageToArrival2Image, languageToBookingSiteLocale } from '../utils/commons';

setLanguageTag('it');

const paraglide = Astro.locals.paraglide;

const locations = [
  { 
    lat: 45.436500,
    lng: 9.178330,
    title: m.viaMonteganiDescription(),
    address: m.viaMonteganiAddress(),
    path: `https://pay.syshotelonline.it/reserva/sc_scheda.php?hotel=92&lingua=${languageToBookingSiteLocale[languageTag() ?? 'it']}&stile=aiellosuite.css`,
    image: 'https://www.aiellohotels.com/wp-content/uploads/2021/03/10-2-copia-300x216.jpg',
  },
];

---

<Layout 
  title={m.viaMonteganiTitle()}
  description={m.viaMonteganiPageDescription()}
  includeContactForm
>
  <div class="bg-hero w-full flex flex-col items-center gap-10 text-white text-center py-56 z-0">
    <h1 class="text-3xl md:text-5xl font-serif text-secondary uppercase" set:html={m.viaMonteganiHeroTitle()}></h1>
    <p class="text-xl md:text-3xl font-thin">{m.viaMonteganiHeroDescription()}</p>
    <a href={`https://pay.syshotelonline.it/reserva/sc_scheda.php?hotel=92&lingua=${languageToBookingSiteLocale[languageTag() ?? 'it']}&stile=aiellosuite.css`} target="_blank" class="bg-secondary text-primary hover:bg-primary hover:text-secondary transition-all duration-200 uppercase text-lg md:text-xl py-3 px-5 rounded-md flex flex-row items-center gap-2 group">
      {m.checkAvailability()}
      <ChevronRight className="w-0 -translate-x-2 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 group-hover:w-5 h-5 transition-all duration-200" />
    </a>
    <div class="pattern"></div>
  </div>
  <div class="w-full bg-primary text-secondary text-center py-7">
    <p class="text-xl md:text-4xl mb-1">{m.viaMonteganiPosition()}</p>
    <p class="text-lg md:text-3xl">{m.viaMonteganiPageAddress()}</p>
  </div>
  <GoogleMap 
    client:load
    locations={locations}
    lang={paraglide.lang}
    region={"IT" /** TODO: update  */}
  />
  <div class="mx-auto px-3 py-14 w-full max-w-screen-lg flex flex-col items-center justify-center gap-6 md:gap-10">
    <p class="text-primary text-2xl md:text-4xl text-center">{m.viaMonteganiWhy()}</p>
    <p class="text-primary text-xl md:text-3xl mb-2 border-secondary border-b-2">
      {m.rooms()}
    </p>
    <div class="flex flex-col md:flex-row items-center justify-between md:gap-14">
      <div class="flex-1">
        <p class="text-gray-500 text-base md:text-lg mb-1">
          {m.viaMonteganiReview1()}
        </p>
        <p class="text-gray-500 text-base md:text-lg flex flex-row items-center gap-1">
          {m.viaMonteganiReview1Author()} <Image src="https://www.aiellohotels.com/wp-content/uploads/2020/10/booking-60-1.png" alt="Booking.com" width={32} height={32} />
        </p>
      </div>
      <div class="flex-1">
        <Image width={850} height={576} class="rounded-md" src="https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-1-2-copia.jpg" alt="san Babila vista" srcset="https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-1-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-1-2-copia-480x346.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 800px, 100vw">
      </div>
    </div>
    <p class="text-primary text-xl md:text-3xl mb-2 border-secondary border-b-2">
      {m.position()}
    </p>
    <div class="flex flex-col md:flex-row items-center justify-between md:gap-14">
      <div class="flex-1">
        <Image width={850} height={576} class="rounded-md" src="https://www.aiellohotels.com/wp-content/uploads/2020/11/posizioneMontegani.jpg" alt="san Babila camere" srcset="https://www.aiellohotels.com/wp-content/uploads/2020/11/posizioneMontegani.jpg 1024w, https://www.aiellohotels.com/wp-content/uploads/2020/11/posizioneMontegani-980x654.jpg 980w, https://www.aiellohotels.com/wp-content/uploads/2020/11/posizioneMontegani-480x320.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1024px, 100vw">
      </div>
      <div class="flex-1">
        <p class="text-gray-500 text-base md:text-lg mb-1">
          {m.viaMonteganiReview2()}
        </p>
        <p class="text-gray-500 text-base md:text-lg flex flex-row items-center gap-1">
          {m.viaMonteganiReview2Author()} <Image src="https://www.aiellohotels.com/wp-content/uploads/2020/10/tripadvisor-50-1.png" alt="Trip advisor" width={32} height={32} />
        </p>
      </div>
    </div>
    <p class="text-primary text-xl md:text-3xl mb-2 border-secondary border-b-2">
      {m.hospitality()}
    </p>
    <div class="flex flex-col md:flex-row items-center justify-between md:gap-14">
      <div class="flex-1">
        <p class="text-gray-500 text-base md:text-lg mb-1">
          {m.viaMonteganiReview3()}
        </p>
        <p class="text-gray-500 text-base md:text-lg flex flex-row items-center gap-1">
          {m.viaMonteganiReview3Author()} <Image src="https://www.aiellohotels.com/wp-content/uploads/2020/10/tripadvisor-50-1.png" alt="Trip advisor" width={32} height={32} />
        </p>
      </div>
      <div class="flex-1">
        <Image width={850} height={576} class="rounded-md" src="https://www.aiellohotels.com/wp-content/uploads/2020/11/accoglienzaMontegani.jpg" alt="san Babila posizione" srcset="https://www.aiellohotels.com/wp-content/uploads/2020/11/accoglienzaMontegani.jpg 630w, https://www.aiellohotels.com/wp-content/uploads/2020/11/accoglienzaMontegani-480x205.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 630px, 100vw">
      </div>
    </div>
    <p class="text-primary text-xl md:text-3xl mb-2 border-secondary border-b-2">
      {m.cleanliness()}
    </p>
    <div class="flex flex-col md:flex-row items-center justify-between md:gap-14">
      <div class="flex-1">
        <Image width={850} height={576} class="rounded-md" src="https://www.aiellohotels.com/wp-content/uploads/2020/11/puliziaPalmieri.jpg" alt="san Babila accoglienza" srcset="https://www.aiellohotels.com/wp-content/uploads/2020/11/puliziaPalmieri.jpg 640w, https://www.aiellohotels.com/wp-content/uploads/2020/11/puliziaPalmieri-480x255.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 640px, 100vw">
      </div>
      <div class="flex-1">
        <p class="text-gray-500 text-base md:text-lg mb-1">
          {m.viaMonteganiReview4()}
        </p>
        <p class="text-gray-500 text-base md:text-lg flex flex-row items-center gap-1">
          {m.viaMonteganiReview4Author()} <Image src="https://www.aiellohotels.com/wp-content/uploads/2020/10/booking-60-1.png" alt="Booking.com" width={32} height={32} />
        </p>
      </div>
    </div>
  </div>
  <div class="mx-auto px-3 py-14 w-full max-w-screen-lg flex flex-col items-center justify-center gap-10">
    <p class="text-primary text-2xl md:text-4xl text-center">{m.chooseRoomType()}</p>
    <div class="flex flex-col md:flex-row justify-between items-center bg-primary rounded-md px-4 py-6 w-full max-w-screen-md gap-3 md:gap-0">
      <ImageGallery 
        client:load
        images={[
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/3m-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/3m-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/3m-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/10-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/10-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/10-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/montegani_-5-copia-2.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/montegani_-5-copia-2.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/montegani_-5-copia-2-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/montegani-3-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/montegani-3-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/montegani-3-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/mont-n_-copia-3.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/mont-n_-copia-3.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/mont-n_-copia-3-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/mon-4-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/mon-4-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/mon-4-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/04/montegani-bagni_-4-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/04/montegani-bagni_-4-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/04/montegani-bagni_-4-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-11-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-11-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-11-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/04/montegani-bagni_-2-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/04/montegani-bagni_-2-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/04/montegani-bagni_-2-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/04/montegani-bagni_-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/04/montegani-bagni_-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/04/montegani-bagni_-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-7-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-7-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-7-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-1-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-1-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-1-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/2m-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/2m-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/2m-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/4m-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/4m-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/4m-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-4-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-4-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/2021-4-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/MG_3684-copia-2-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/MG_3684-copia-2-2-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/MG_3684-copia-2-2-copia-480x346.jpg 480w"
          },
          {
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/MG_3679-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/MG_3679-copia.jpg 800w, https://www.aiellohotels.com/wp-content/uploads/2021/03/MG_3679-copia-480x346.jpg 480w"
          }
        ]}
        className="flex-1"
      />
      <div class="flex flex-col items-center gap-8 flex-1">
        <p class="text-xl md:text-3xl text-secondary">
          {m.viaMonteganiRoom1()} 
        </p>
        <div class="flex flex-col gap-1 max-w-[270px] text-base md:text-xl text-white">
          <p>
            {m.viaMonteganiRoom1Feature1()}
          </p>
          <p>
            {m.viaMonteganiRoom1Feature2()}
          </p>
          <p>
            {m.viaMonteganiRoom1Feature3()}
          </p>
        </div>
        <a href={`https://pay.syshotelonline.it/reserva/sc_scheda.php?hotel=92&lingua=${languageToBookingSiteLocale[languageTag() ?? 'it']}&stile=aiellosuite.css`} target="_blank" class="bg-secondary text-primary border border-primary hover:bg-primary hover:text-secondary hover:border-secondary transition-all duration-200 uppercase text-lg md:text-xl py-3 px-5 rounded-md flex flex-row items-center gap-2 group w-fit">
          {m.checkAvailability()}
          <ChevronRight className="w-0 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 group-hover:w-5 h-5 transition-all duration-200" />
        </a>
      </div>
    </div> 
  </div> 
  <div class="mx-auto px-3 py-14 w-full max-w-screen-lg flex flex-col items-center justify-center gap-10">
    <p class="text-primary text-2xl md:text-4xl text-center">
      {m.whatYouWillFind()}
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-8 justify-items-center rounded-md px-4 py-6 w-full max-w-screen-md">
      <div class="flex flex-col items-center gap-3 flex-1">
        <BedDouble className="w-16 h-16 text-primary" />
        <p class="text-xl text-primary font-semibold">
          {m.bedroom()}
        </p>
        <div class="flex flex-col md:flex-row gap-5">
          <ul class="list-disc pl-4">
            <li>{m.wifi()}</li>
            <li>{m.airConditioner()}</li>
            <li>{m.minibar()}</li>
            <li>{m.kettle()}</li>
          </ul>
          <ul class="list-disc pl-4">
            <li>{m.TVHD()}</li>
            <li>{m.safebox()}</li>
            <li>{m.welcomingDrink()}</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col items-center gap-3 flex-1">
        <BathIcon className="w-16 h-16 text-primary" />
        <p class="text-xl text-primary font-semibold">
          {m.bathroom()}
        </p>
        <ul class="list-disc pl-4">
          <li>{m.courtesySet()}</li>
          <li>{m.slippers()}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mx-auto px-3 py-14 w-full max-w-screen-lg flex flex-col items-center justify-center gap-10">
    <p class="text-primary text-2xl md:text-4xl text-center">{m.viaMonteganiUsefulInfo()}</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-8 justify-items-center rounded-md px-4 py-6 w-full max-w-screen-xl">
      <div class="flex flex-col items-center text-center gap-2 sm:col-span-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <CalendarCheck className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.checkInCheckOut()}</p>
        <Image src={languageToArrival2Image[languageTag() ?? 'it']} alt="orari arrivo-partenza" width="632" height="192" class="w-[600px]" />
        <p class="text-gray-500 text-base">
          {m.viaMonteganiArrivalTime()}
        </p>
        <ul class="text-gray-500">
          <li>{m.viaMonteganiEarlyCheckIn()}</li>
          <li>{m.viaMonteganiSelfCheckIn()}</li>
        </ul>
        <p class="text-gray-500 text-base">
          {m.viaMonteganiDepartureTime()}
        </p>
        <ul class="text-gray-500">
          <li>{m.viaMonteganiLateCheckOut()}</li>
        </ul>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <Coffee className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.breakfast()}</p>
        <p class="text-gray-500 text-base">
          {m.viaMonteganiBreakfastTime()}
        </p>
        <ul class="text-gray-500">
          <li>{m.viaMonteganiRoomBreakfast()}</li>
        </ul>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <ParkingCircle className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.partneredParking()}</p>
        <p class="text-gray-500 text-base">
          {m.viaMonteganiParkingName()}
        </p>
        <p class="text-gray-500 text-base">
          {m.viaMonteganiParkingPrice()}
        </p>
        <p class="text-gray-500 text-base">
          {m.viaMonteganiParking2Price()}
        </p>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <BusFront className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.transportation()}</p>
        <p class="text-gray-500 text-base" set:html={m.viaMonteganiMetroStation()}></p>
        <p class="text-gray-500 text-base" set:html={m.viaMonteganiTramStation()}></p>
        <p class="text-gray-500 text-base" set:html={m.viaMonteganiFromMalpensa()}></p>
        <p class="text-gray-500 text-base" set:html={m.viaMonteganiFromBergamo()}></p>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <Plane className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.viaMonteganiAirportShuttle()}</p>
        <p class="text-gray-500 text-base">
          {m.reservationRequired()}
        </p>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <Luggage className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.luggageStorage()}</p>
        <p class="text-gray-500 text-base">
          {m.free()}
        </p>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <Baby className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.crib()}</p>
        <p class="text-gray-500 text-base">
          {m.cribAvailability()}
        </p>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <PawPrint className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.pets()}</p>
        <p class="text-gray-500 text-base">
          {m.petPolicy()}
        </p>
      </div>
    </div>
  </div>
  <a href={`https://pay.syshotelonline.it/reserva/sc_scheda.php?hotel=92&lingua=${languageToBookingSiteLocale[languageTag() ?? 'it']}&stile=aiellosuite.css`} target="_blank" class="bg-secondary text-primary hover:bg-primary hover:text-secondary transition-all duration-200 uppercase text-lg md:text-xl py-3 px-5 rounded-md flex flex-row items-center gap-2 group w-fit mx-auto">
    {m.checkAvailability()}
    <ChevronRight className="w-0 -translate-x-2 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 group-hover:w-5 h-5 transition-all duration-200" />
  </a>
</Layout>

<style>
  .bg-hero {
    @apply bg-cover bg-no-repeat relative;
		background-image: linear-gradient(180deg, #063661 0%,rgba(43,78,136,0.67) 54%), url("https://www.aiellohotels.com/wp-content/uploads/2021/03/navigli-rooms-2-copia.jpg");
    background-position: 50%;
	}

  .pattern {
    @apply absolute mt-auto w-full bottom-0 h-[100px] bg-no-repeat bg-cover z-[1] scale-y-[-1] scale-x-[1];
    background-size: 100% 100px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNjNDk5NmMiPjxwYXRoIGQ9Ik0xMjgwIDE0MFYwSDBsMTI4MCAxNDB6IiBmaWxsLW9wYWNpdHk9Ii41Ii8+PHBhdGggZD0iTTEyODAgOThWMEgwbDEyODAgOTh6Ii8+PC9nPjwvc3ZnPg==);
  }
</style>