---
import { Image } from 'astro:assets';
import { Baby, BathIcon, BedDouble, BusFront, CalendarCheck, Camera, ChevronRight, Coffee, Luggage, ParkingCircle, PawPrint, Phone, Plane } from 'lucide-react';
import { GoogleMap } from '../../components/GoogleMap.tsx';
import { ImageGallery } from '../../components/ImageGallery.tsx';
import Layout from '../../layouts/Layout.astro';
import * as m from '../../paraglide/messages';
import { availableLanguageTags, languageTag } from '../../paraglide/runtime';
import { languageToArrivalImage } from '../../utils/commons';

export function getStaticPaths() {
  return availableLanguageTags.map((lang) => ({ params: { lang } }));
}

const paraglide = Astro.locals.paraglide;

const locations = [
  { 
    lat: 45.467040,
    lng: 9.197540,
    title: m.sanBabilaDescription(),
    address: m.sanBabilaAddress(),
    path: '/san-babila',
    image: 'https://www.aiellohotels.com/wp-content/uploads/2021/03/san-Babila_-10-copia-3-300x203.jpg',
  },
];

---

<Layout 
  title={m.sanBabilaTitle()}
  description={m.sanBabilaPageDescription()}
  includeContactForm
  contactEmail="booking@aiellosuites.com"
>
  <div class="bg-hero w-full flex flex-col items-center gap-10 text-white text-center py-52 z-0">
    <a href="https://www.skylinewebcams.com/it/webcam/italia/lombardia/milano/piazza-san-babila.html" target="_blank" class="absolute top-0 right-0 left-0 bg-secondary text-primary h-16 flex items-center justify-center w-full gap-2">
      {m.sanBabilaCameras()} <Camera className="w-5 h-5" />
    </a>
    <h1 class="text-3xl md:text-5xl font-serif text-secondary uppercase" set:html={m.sanBabilaHeroTitle()}></h1>
    <p class="text-xl md:text-3xl font-thin">{m.sanBabilaHeroDescription()}</p>
    <a href="https://pay.syshotelonline.it/reserva/sc_scheda.php?hotel=125&lingua=I&stile=aiellosuite.css" target="_blank" class="bg-secondary text-primary hover:bg-primary hover:text-secondary transition-all duration-200 uppercase text-lg md:text-xl py-3 px-5 rounded-md flex flex-row items-center gap-2 group">
      {m.checkAvailability()}
      <ChevronRight className="w-0 -translate-x-2 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 group-hover:w-5 h-5 transition-all duration-200" />
    </a>
    <div class="pattern"></div>
  </div>
  <div class="w-full bg-primary text-secondary text-center py-7">
    <p class="text-xl md:text-4xl mb-1">{m.sanBabilaPosition()}</p>
    <p class="text-lg md:text-3xl">{m.sanBabilaPageAddress()}</p>
  </div>
  <GoogleMap 
    client:load
    locations={locations}
    lang={paraglide.lang}
    region={"IT" /** TODO: update  */}
  />
  <div class="mx-auto px-3 py-14 w-full max-w-screen-lg flex flex-col items-center justify-center gap-6 md:gap-10">
    <p class="text-primary text-2xl md:text-4xl text-center">{m.sanBabilaWhy()}</p>
    <p class="text-primary text-xl md:text-3xl mb-2 border-secondary border-b-2">
      {m.view()}
    </p>
    <div class="flex flex-col md:flex-row items-center justify-between md:gap-14">
      <div class="flex-1">
        <p class="text-gray-500 text-base md:text-lg mb-1">
          {m.sanBabilaReview1()}
        </p>
        <p class="text-gray-500 text-base md:text-lg flex flex-row items-center gap-1">
          {m.sanBabilaReview1Author()} <Image src="https://www.aiellohotels.com/wp-content/uploads/2020/10/booking-60-1.png" alt="Booking.com" width={32} height={32} />
        </p>
      </div>
      <div class="flex-1">
        <Image width={850} height={576} class="rounded-md" src="https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-3-copia.jpg" alt="san Babila vista" srcset="https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-3-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-3-copia-480x325.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 850px, 100vw">
      </div>
    </div>
    <p class="text-primary text-xl md:text-3xl mb-2 border-secondary border-b-2">
      {m.rooms()}
    </p>
    <div class="flex flex-col md:flex-row items-center justify-between md:gap-14">
      <div class="flex-1">
        <Image width={850} height={576} class="rounded-md" src="https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-6-copia.jpg" alt="san Babila camere" srcset="https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-6-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-6-copia-480x325.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 850px, 100vw">
      </div>
      <div class="flex-1">
        <p class="text-gray-500 text-base md:text-lg mb-1">
          {m.sanBabilaReview2()}
        </p>
        <p class="text-gray-500 text-base md:text-lg flex flex-row items-center gap-1">
          {m.sanBabilaReview2Author()} <Image src="https://www.aiellohotels.com/wp-content/uploads/2020/10/tripadvisor-50-1.png" alt="Trip advisor" width={32} height={32} />
        </p>
      </div>
    </div>
    <p class="text-primary text-xl md:text-3xl mb-2 border-secondary border-b-2">
      {m.position()}
    </p>
    <div class="flex flex-col md:flex-row items-center justify-between md:gap-14">
      <div class="flex-1">
        <p class="text-gray-500 text-base md:text-lg mb-1">
          {m.sanBabilaReview3()}
        </p>
        <p class="text-gray-500 text-base md:text-lg flex flex-row items-center gap-1">
          {m.sanBabilaReview3Author()} <Image src="https://www.aiellohotels.com/wp-content/uploads/2020/10/tripadvisor-50-1.png" alt="Trip advisor" width={32} height={32} />
        </p>
      </div>
      <div class="flex-1">
        <Image width={850} height={576} class="rounded-md" src="https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-11-copia.jpg" alt="san Babila posizione" srcset="https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-11-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-11-copia-480x325.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 850px, 100vw">
      </div>
    </div>
    <p class="text-primary text-xl md:text-3xl mb-2 border-secondary border-b-2">
      {m.hospitality()}
    </p>
    <div class="flex flex-col md:flex-row items-center justify-between md:gap-14">
      <div class="flex-1">
        <Image width={850} height={576} class="rounded-md" src="https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-copia.jpg" alt="san Babila accoglienza" srcset="https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-copia-480x325.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 850px, 100vw">
      </div>
      <div class="flex-1">
        <p class="text-gray-500 text-base md:text-lg mb-1">
          {m.sanBabilaReview4()}
        </p>
        <p class="text-gray-500 text-base md:text-lg flex flex-row items-center gap-1">
          {m.sanBabilaReview4Author()} <Image src="https://www.aiellohotels.com/wp-content/uploads/2020/10/booking-60-1.png" alt="Booking.com" width={32} height={32} />
        </p>
      </div>
    </div>
    <p class="text-primary text-xl md:text-3xl mb-2 border-secondary border-b-2">
      {m.cleanliness()}
    </p>
    <div class="flex flex-col md:flex-row items-center justify-between md:gap-14">
      <div class="flex-1">
        <p class="text-gray-500 text-base md:text-lg mb-1">
          {m.sanBabilaReview5()}
        </p>
        <p class="text-gray-500 text-base md:text-lg flex flex-row items-center gap-1">
          {m.sanBabilaReview5Author()} <Image src="https://www.aiellohotels.com/wp-content/uploads/2020/10/booking-60-1.png" alt="Booking.com" width={32} height={32} />
        </p>
      </div>
      <div class="flex-1">
        <Image width={850} height={576} class="rounded-md" src="https://www.aiellohotels.com/wp-content/uploads/2020/10/Pulizia-300x200-1.jpg" alt="san Babila accoglienza" srcset="https://www.aiellohotels.com/wp-content/uploads/2020/10/Pulizia-300x200-1.jpg 1024w, https://www.aiellohotels.com/wp-content/uploads/2020/10/Pulizia-300x200-1-980x654.jpg 980w, https://www.aiellohotels.com/wp-content/uploads/2020/10/Pulizia-300x200-1-480x320.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 850px, 100vw">
      </div>
    </div>
  </div>
  <div class="mx-auto px-3 py-14 w-full max-w-screen-lg flex flex-col items-center justify-center gap-10">
    <p class="text-primary text-2xl md:text-4xl text-center">{m.chooseRoomType()}</p>
    <div class="flex flex-col md:flex-row justify-between items-center bg-primary rounded-md px-4 py-6 w-full max-w-screen-md gap-3 md:gap-0">
      <ImageGallery 
        client:load
        images={[
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2024/02/san-Babila_-8-copia-2.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2024/02/san-Babila_-8-copia-2.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2024/02/san-Babila_-8-copia-2-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-7-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-7-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-7-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-3-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-3-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-3-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-4ps-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-4ps-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-4ps-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-8-copia-3.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-8-copia-3.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-8-copia-3-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-7ps-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-7ps-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-7ps-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-6.ps-jpg-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-6.ps-jpg-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_-6.ps-jpg-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/9-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/9-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/9-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_ps-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_ps-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/san-babila_ps-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni-1-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni-1-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni-1-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-2-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-2-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-2-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-4-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-4-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-4-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila-Double-8.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila-Double-8.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila-Double-8-480x320.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/breakfast-san-babila-2-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/breakfast-san-babila-2-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/03/breakfast-san-babila-2-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/san-babila2-1-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/san-babila2-1-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/03/san-babila2-1-2-copia-480x325.jpg 480w"
          }
        ]}
        className="flex-1"
      />
      <div class="flex flex-col items-center gap-8 flex-1">
        <p class="text-xl md:text-3xl text-secondary">
          {m.sanBabilaRoom1()} 
        </p>
        <div class="flex flex-col gap-1 max-w-[270px] text-base md:text-xl text-white">
          <p>
            {m.sanBabilaRoom1Feature1()}
          </p>
          <p>
            {m.sanBabilaRoom1Feature2()}
          </p>
          <p>
            {m.sanBabilaRoom1Feature3()}
          </p>
        </div>
        <a href="https://pay.syshotelonline.it/reserva/sc_scheda.php?hotel=125&lingua=I&stile=aiellosuite.css" target="_blank" class="bg-secondary text-primary border border-primary hover:bg-primary hover:text-secondary hover:border-secondary transition-all duration-200 uppercase text-lg md:text-xl py-3 px-5 rounded-md flex flex-row items-center gap-2 group w-fit">
          {m.checkAvailability()}
          <ChevronRight className="w-0 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 group-hover:w-5 h-5 transition-all duration-200" />
        </a>
      </div>
    </div> 
    <div class="flex flex-col md:flex-row justify-between items-center bg-primary rounded-md px-4 py-6 w-full max-w-screen-md gap-3 md:gap-0">
      <ImageGallery 
        client:load
        images={[
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-3-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-3-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-3-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-6-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-6-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-6-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-8-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-8-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-8-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-9_-4-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-9_-4-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-9_-4-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2024/02/babila-new-10-2-scaled.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2024/02/babila-new-10-2-scaled.jpg 2560w, https://www.aiellohotels.com/wp-content/uploads/2024/02/babila-new-10-2-300x200.jpg 300w, https://www.aiellohotels.com/wp-content/uploads/2024/02/babila-new-10-2-1024x683.jpg 1024w, https://www.aiellohotels.com/wp-content/uploads/2024/02/babila-new-10-2-768x512.jpg 768w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-9_-5-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-9_-5-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-9_-5-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-11-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-11-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2023/12/babila-new-11-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-3-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-3-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-3-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-2-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-2-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-2-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-5-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-5-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-5-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-6-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-6-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-6-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila-8.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila-8.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila-8-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila1.png",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila1.png 850w, https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila1-480x325.png 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/breakfast-san-babila-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/breakfast-san-babila-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/03/breakfast-san-babila-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/milano-duomo_-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/milano-duomo_-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/03/milano-duomo_-copia-480x325.jpg 480w"
          }
        ]}
        className="flex-1"
      />
      <div class="flex flex-col items-center gap-8 flex-1">
        <p class="text-xl md:text-3xl text-secondary">
          {m.sanBabilaRoom2()}
        </p>
        <div class="flex flex-col gap-1 max-w-[270px] text-base md:text-xl text-white">
          <p>
            {m.sanBabilaRoom2Feature1()}
          </p>
          <p>
            {m.sanBabilaRoom2Feature2()}
          </p>
          <p>
            {m.sanBabilaRoom2Feature3()}
          </p>
          <p>
            {m.sanBabilaRoom2Feature4()}
          </p>
        </div>
        <a href="https://pay.syshotelonline.it/reserva/sc_scheda.php?hotel=125&lingua=I&stile=aiellosuite.css" target="_blank" class="bg-secondary text-primary border border-primary hover:bg-primary hover:text-secondary hover:border-secondary transition-all duration-200 uppercase text-lg md:text-xl py-3 px-5 rounded-md flex flex-row items-center gap-2 group w-fit">
          {m.checkAvailability()}
          <ChevronRight className="w-0 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 group-hover:w-5 h-5 transition-all duration-200" />
        </a>
      </div>
    </div> 
    <div class="flex flex-col md:flex-row justify-between items-center bg-primary rounded-md px-4 py-6 w-full max-w-screen-md gap-3 md:gap-0">
      <ImageGallery 
        client:load
        images={[
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2024/02/san-Babila_-5-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2024/02/san-Babila_-5-copia.jpg 2498w, https://www.aiellohotels.com/wp-content/uploads/2024/02/san-Babila_-5-copia-1280x828.jpg 1280w, https://www.aiellohotels.com/wp-content/uploads/2024/02/san-Babila_-5-copia-980x634.jpg 980w, https://www.aiellohotels.com/wp-content/uploads/2024/02/san-Babila_-5-copia-480x310.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2024/02/san-Babila_-17-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2024/02/san-Babila_-17-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2024/02/san-Babila_-17-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-6-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-6-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/04/babila-bagni_-6-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila-8.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila-8.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila-8-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila1.png",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila1.png 850w, https://www.aiellohotels.com/wp-content/uploads/2020/10/San-Babila1-480x325.png 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/breakfast-san-babila-2-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/breakfast-san-babila-2-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/03/breakfast-san-babila-2-copia-480x325.jpg 480w"
          },
          { 
            src: "https://www.aiellohotels.com/wp-content/uploads/2021/03/milano-duomo_-copia.jpg",
            srcSet: "https://www.aiellohotels.com/wp-content/uploads/2021/03/milano-duomo_-copia.jpg 850w, https://www.aiellohotels.com/wp-content/uploads/2021/03/milano-duomo_-copia-480x325.jpg 480w"
          }
        ]}
        className="flex-1"
      />
      <div class="flex flex-col items-center gap-8 flex-1">
        <p class="text-xl md:text-3xl text-secondary">
          {m.sanBabilaRoom3()} 
        </p>
        <div class="flex flex-col gap-1 max-w-[270px] text-base md:text-xl text-white">
          <p>
            {m.sanBabilaRoom3Feature1()}
          </p>
          <p>
            {m.sanBabilaRoom3Feature2()}
          </p>
          <p>
            {m.sanBabilaRoom3Feature3()}
          </p>
        </div>
        <a href="https://pay.syshotelonline.it/reserva/sc_scheda.php?hotel=125&lingua=I&stile=aiellosuite.css" target="_blank" class="bg-secondary text-primary border border-primary hover:bg-primary hover:text-secondary hover:border-secondary transition-all duration-200 uppercase text-lg md:text-xl py-3 px-5 rounded-md flex flex-row items-center gap-2 group w-fit">
          {m.checkAvailability()}
          <ChevronRight className="w-0 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 group-hover:w-5 h-5 transition-all duration-200" />
        </a>
      </div>
    </div> 
  </div> 
  <div class="mx-auto px-3 py-14 w-full max-w-screen-lg flex flex-col items-center justify-center gap-10">
    <p class="text-primary text-2xl md:text-4xl text-center">
      {m.whatYouWillFind()}
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-8 justify-items-center rounded-md px-4 py-6 w-full max-w-screen-md">
      <div class="flex flex-col items-center gap-3 flex-1">
        <BedDouble className="w-16 h-16 text-primary" />
        <p class="text-xl text-primary font-semibold">
          {m.bedroom()}
        </p>
        <div class="flex flex-col md:flex-row gap-5">
          <ul class="list-disc pl-4">
            <li>{m.wifi()}</li>
            <li>{m.airConditioner()}</li>
            <li>{m.minibarAndDrink()}</li>
            <li>{m.kettle()}</li>
            <li>{m.smartTVHD()}</li>
            <li>{m.safebox()}</li>
          </ul>
          <ul class="list-disc pl-4">
            <li>{m.workspace()}</li>
            <li>{m.usb()}</li>
            <li>{m.pillows()}</li>
            <li>{m.puff()}</li>
            <li>{m.soundproofing()}</li>
            <li>{m.panoramicView()}</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col items-center gap-3 flex-1">
        <BathIcon className="w-16 h-16 text-primary" />
        <p class="text-xl text-primary font-semibold">
          {m.bathroom()}
        </p>
        <ul class="list-disc pl-4">
          <li>{m.courtesySet()}</li>
          <li>{m.slippers()}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mx-auto px-3 py-14 w-full max-w-screen-lg flex flex-col items-center justify-center gap-10">
    <p class="text-primary text-2xl md:text-4xl text-center">{m.sanBabilaUsefulInfo()}</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-8 justify-items-center rounded-md px-4 py-6 w-full max-w-screen-xl">
      <div class="flex flex-col items-center text-center gap-2 sm:col-span-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <CalendarCheck className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.checkInCheckOut()}</p>
        <Image src={languageToArrivalImage[languageTag() ?? 'it']} alt="orari arrivo-partenza" width="632" height="192" class="w-[600px]" />
        <p class="text-gray-500 text-base">
          {m.sanBabilaArrivalTime()}
        </p>
        <ul class="text-gray-500">
          <li>{m.sanBabilaEarlyCheckIn()}</li>
          <li>{m.sanBabilaSelfCheckIn()}</li>
        </ul>
        <p class="text-gray-500 text-base">
          {m.sanBabilaDepartureTime()}
        </p>
        <ul class="text-gray-500">
          <li>{m.sanBabilaLateCheckOut()}</li>
        </ul>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <Coffee className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.breakfast()}</p>
        <p class="text-gray-500 text-base">
          {m.sanBabilaBreakfastTime()}
        </p>
        <ul class="text-gray-500">
          <li>{m.sanBabilaRoomBreakfast()}</li>
        </ul>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <ParkingCircle className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.partneredParking()}</p>
        <p class="text-gray-500 text-base">
          {m.sanBabilaParkingName()}
        </p>
        <p class="text-gray-500 text-base">
          {m.sanBabilaParkingAddress()}
        </p>
        <p class="text-gray-500 text-base">
          {m.sanBabilaParkingHours()}
        </p>
        <p class="text-gray-500 text-base">
          {m.sanBabilaParkingPrice()}
        </p>
        <a href="tel:+390276000795" class="text-primary text-base font-bold flex flex-row items-center gap-1">
          <Phone className="w-5 h-5 text-primary" />
          +39 02 7600 0795
        </a>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <BusFront className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.transportation()}</p>
        <p class="text-gray-500 text-base" set:html={m.sanBabilaMetroStation()}></p>
        <p class="text-gray-500 text-base" set:html={m.sanBabilaFromMalpensa()}></p>
        <p class="text-gray-500 text-base" set:html={m.sanBabilaFromBergamo()}></p>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <Plane className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.sanBabilaAirportShuttle()}</p>
        <p class="text-gray-500 text-base">
          {m.reservationRequired()}
        </p>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <Luggage className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.luggageStorage()}</p>
        <p class="text-gray-500 text-base">
          {m.free()}
        </p>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <Baby className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.crib()}</p>
        <p class="text-gray-500 text-base">
          {m.cribAvailability()}
        </p>
      </div>
      <div class="flex flex-col items-center text-center gap-2">
        <div class="rounded-full bg-secondary p-3 self-center">
          <PawPrint className="w-10 h-10 text-primary" />
        </div>
        <p class="text-primary text-lg self-center">{m.pets()}</p>
        <p class="text-gray-500 text-base">
          {m.petPolicy()}
        </p>
      </div>
    </div>
  </div>
  <a href="https://pay.syshotelonline.it/reserva/sc_scheda.php?hotel=125&lingua=I&stile=aiellosuite.css" target="_blank" class="bg-secondary text-primary hover:bg-primary hover:text-secondary transition-all duration-200 uppercase text-lg md:text-xl py-3 px-5 rounded-md flex flex-row items-center gap-2 group w-fit mx-auto">
    {m.checkAvailability()}
    <ChevronRight className="w-0 -translate-x-2 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 group-hover:w-5 h-5 transition-all duration-200" />
  </a>
</Layout>

<style>
  .bg-hero {
    @apply bg-cover bg-no-repeat relative;
		background-image: linear-gradient(180deg, #063661 0%,rgba(43,78,136,0.67) 54%), url("https://www.aiellohotels.com/wp-content/uploads/2020/10/san-babila-superior-2.jpg");
    background-position: 50%;
	}

  .pattern {
    @apply absolute mt-auto w-full bottom-0 h-[100px] bg-no-repeat bg-cover z-[1] scale-y-[-1] scale-x-[1];
    background-size: 100% 100px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNjNDk5NmMiPjxwYXRoIGQ9Ik0xMjgwIDE0MFYwSDBsMTI4MCAxNDB6IiBmaWxsLW9wYWNpdHk9Ii41Ii8+PHBhdGggZD0iTTEyODAgOThWMEgwbDEyODAgOTh6Ii8+PC9nPjwvc3ZnPg==);
  }
</style>