---
import { Image } from "astro:assets";
import { ChevronDown, Mail, Phone } from "lucide-react";
import { MobileMenu } from '../components/MobileMenu.tsx';
import { commons } from "../utils/commons";
import { getRouteWithLocale, replaceUrlWithLocale, type Locales } from "../utils/url";

interface Props {
	title: string;
	description: string;
	locale?: Locales;
	includeContactForm?: boolean;
}

const { title, description, locale = "it_IT", includeContactForm = false } = Astro.props;

const BASE_URL = Astro.url.origin;
---

<!doctype html>
<html lang={locale}>
	<head>
		<link rel="canonical" href={Astro.url} />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link rel="preconnect" href="https://www.google-analytics.com" />

		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />

		<meta property="og:locale" content={locale} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:site_name" content={"Aiello Hotels"} />

		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />

		<link rel="icon" href="https://www.aiellohotels.com/wp-content/uploads/2021/05/cropped-logo-aiello-hotels-ico-32x32.jpg" sizes="32x32" />
		<link rel="icon" href="https://www.aiellohotels.com/wp-content/uploads/2021/05/cropped-logo-aiello-hotels-ico-192x192.jpg" sizes="192x192">
		<link rel="apple-touch-icon" href="https://www.aiellohotels.com/wp-content/uploads/2021/05/cropped-logo-aiello-hotels-ico-180x180.jpg">
		<meta name="msapplication-TileImage" content="https://www.aiellohotels.com/wp-content/uploads/2021/05/cropped-logo-aiello-hotels-ico-270x270.jpg">

		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>
	<body class="pt-[104px]">
		<header>
			<div class="z-50 w-full grid place-items-center fixed top-0 py-2 md:max-h-10 bg-primary text-white">
				<div class="w-full max-w-screen-lg flex flex-col md:flex-row justify-between items-center">
					<div class="flex flex-col md:flex-row justify-center md:justify-normal items-center gap-4">
						<a class="flex flex-row items-center gap-2 hover:brightness-90 transition-all duration-200" href={`tel:${commons.contactPhone.link}`}target="_blank">
							<Phone className="w-5 h-5 text-primary" fill="white" />
							<span class="text-sm">
								{commons.contactPhone.formatted}
							</span>
						</a>
						<a class="flex flex-row items-center gap-2 hover:brightness-90 transition-all duration-200" href={`mailto:${commons.contactEmail}`}target="_blank">
							<Mail className="w-5 h-5 text-primary" fill="white" />
							<span class="text-sm">
								{commons.contactEmail}
							</span>
						</a>
					</div>
					<div class="hidden md:flex flex-row items-center gap-4">
						<a class="text-base" href={`${replaceUrlWithLocale(Astro.url.toString(), "it_IT")}`}>
							🇮🇹
						</a>
						<a class="text-base" href={`${replaceUrlWithLocale(Astro.url.toString(), "en_GB")}`}>
							🇬🇧
						</a>
						<a class="text-base" href={`${replaceUrlWithLocale(Astro.url.toString(), "fr_FR")}`}>
							🇫🇷
						</a>
						<a class="text-base" href={`${replaceUrlWithLocale(Astro.url.toString(), "es_ES")}`}>
							🇪🇸
						</a>
					</div>
				</div>
			</div>
			<div class="z-40 w-full grid place-items-center fixed top-[4.5rem] md:top-10 bg-white">
				<div class="relative w-full max-w-screen-lg flex flex-row justify-between items-center px-2 pb-1 md:p-0">
					<Image src="https://www.aiellohotels.com/wp-content/uploads/2021/05/logo_aiello-hotels.jpg" alt="Aiello Hotels Milano" width={50} height={50} />
					<nav class="hidden md:flex flex-row items-center gap-4">
						<a href={getRouteWithLocale(BASE_URL, locale, "/")} class="text-primary py-5 hover:brightness-200 transition duration-200">
							Home
						</a>
						<div class="relative group">
							<span class="text-gray-400 inline-flex items-center gap-2 cursor-pointer hover:brightness-75 transition duration-200">
								Dove siamo <ChevronDown className="w-4 h-4" />
							</span>	
							<div class="hidden group-hover:block group-hover:delay-150 transition-all duration-200 absolute top-6 right-0 w-max bg-white shadow-md rounded-md border-t-4 border-t-primary py-2 px-3">
								<ul class="flex flex-col gap-3 text-primary font-semibold">
									<li class="flex flex-col items-stretch hover:brightness-200 transition-all duration-200">
										<a href={getRouteWithLocale(BASE_URL, locale, "/san-babila")} class="w-full">
											Aiello Rooms – San Babila, Centro Storico
										</a>
									</li>
									<li class="flex flex-col items-stretch hover:brightness-200 transition-all duration-200">
										<a href={getRouteWithLocale(BASE_URL, locale, "/duomo")} class="w-full">
											Aiello Hotels – Duomo, Centro Storico
										</a>
									</li>
									<li class="flex flex-col items-stretch hover:brightness-200 transition-all duration-200">
										<a href={getRouteWithLocale(BASE_URL, locale, "/stazione-centrale")} class="w-full">
											Aiello Hotels – Centrale, Stazione Centrale
										</a>
									</li>
									<li class="flex flex-col items-stretch hover:brightness-200 transition-all duration-200">
										<a href={getRouteWithLocale(BASE_URL, locale, "/via-palmieri")} class="w-full">
											Aiello Suites Executive, Navigli
										</a>
									</li>
									<li class="flex flex-col items-stretch hover:brightness-200 transition-all duration-200">
										<a href={getRouteWithLocale(BASE_URL, locale, "/via-montegani")} class="w-full">
											Aiello Suites Milan, Navigli
										</a>
									</li>
									<li class="flex flex-col items-stretch hover:brightness-200 transition-all duration-200">
										<a href={getRouteWithLocale(BASE_URL, locale, "/via-ausonio")} class="w-full">
											Aiello Rooms, Centro Città
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
					<MobileMenu client:load baseUrl={BASE_URL} locale={locale}>
						<div class="flex flex-row justify-center items-center gap-2">
							<a class="text-3xl" href={`${replaceUrlWithLocale(Astro.url.toString(), "it_IT")}`}>
								🇮🇹
							</a>
							<a class="text-3xl" href={`${replaceUrlWithLocale(Astro.url.toString(), "en_GB")}`}>
								🇬🇧
							</a>
							<a class="text-3xl" href={`${replaceUrlWithLocale(Astro.url.toString(), "fr_FR")}`}>
								🇫🇷
							</a>
							<a class="text-3xl" href={`${replaceUrlWithLocale(Astro.url.toString(), "es_ES")}`}>
								🇪🇸
							</a>
						</div>
					</MobileMenu>
				</div>
			</div>
		</header>
		
		<slot />

		<div class="mx-auto py-14 w-full max-w-screen-lg flex flex-col items-center justify-center gap-3">
			<p class="text-primary text-2xl md:text-4xl text-center">Informazioni Contatto</p>
			<div class="flex flex-col gap-3 md:flex-row justify-between items-start w-full">
				{includeContactForm && (
					<form class="flex flex-col gap-4 w-full max-w-[500px]">
						<input type="text" placeholder="Nome" class="w-full p-2 border border-gray-300 rounded-md" />
						<input type="email" placeholder="Email" class="w-full p-2 border border-gray-300 rounded-md" />
						<textarea placeholder="Messaggio" class="w-full p-2 border border-gray-300 rounded-md"></textarea>
						<button class="bg-primary text-white rounded-md py-2 px-4 uppercase font-semibold hover:bg-secondary transition-all duration-200">
							Invia
						</button>
					</form>
				)}
			<div class={`flex flex-col gap-4 ${includeContactForm ? 'items-start' : 'items-center'}`}>
				<a class="flex flex-row items-center gap-2 hover:brightness-90 transition-all duration-200" href={`tel:${commons.contactPhone.link}`}target="_blank">
					<Phone className="w-5 h-5 text-primary" fill="white" />
					<span class="text-lg">
						{commons.contactPhone.formatted}
					</span>
				</a>
				<a class="flex flex-row items-center gap-2 hover:brightness-90 transition-all duration-200" href={`mailto:${commons.contactEmail}`}target="_blank">
					<Mail className="w-5 h-5 text-primary" fill="white" />
					<span class="text-lg">
						{includeContactForm ? commons.bookingEmail : commons.contactEmail}
					</span>
				</a>
			</div>
			</div>
		</div>
		<div class="mx-auto py-14 px-4 md:px-0 w-full max-w-screen-lg flex flex-col items-center justify-center gap-3">
			<p class="text-primary text-2xl md:text-4xl text-center">Pagamenti Sicuri</p>
			<p class="text-gray-500 text-lg md:text-2xl text-center">
				Ti garantisce i più alti livelli di sicurezza e crittografia
			</p>
			<img width="940" height="300" src="https://www.aiellohotels.com/wp-content/uploads/2020/10/loghi.png" alt="" title="loghi carte di credito" srcset="https://www.aiellohotels.com/wp-content/uploads/2020/10/loghi.png 940w, https://www.aiellohotels.com/wp-content/uploads/2020/10/loghi-480x153.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 940px, 100vw" class="wp-image-15">
		</div>
	
		<footer class="w-full grid place-items-center bg-secondary py-4 px-4 md:px-0">
			<div class="w-full max-w-screen-lg flex flex-col md:flex-row justify-between items-center">
				<p class="text-primary text-center">AIELLO HOTELS © Copyright Aiello s.r.l. All Rights Reserved. P. IVA 08837450967</p>
				<div class="flex flex-col md:flex-row items-center gap-3">
					<a href="https://www.iubenda.com/privacy-policy/39649537" target="_blank">
						Privacy Policy
					</a>
					<a href={getRouteWithLocale(BASE_URL, locale, "/cookies-policy")}>
						Cookies Policy
					</a>
				</div>
			</div>
		</footer>
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
